.wall {
    background-color: aqua;
    background-size: cover; /* obrazek rozciągnięty */
    width: 100%;
    height: 800px;
    display: inline-block; /*nie trzeba używać float*/
}

.margines {
    width: 125px;
    float:left;
    font-size: large;
    font-weight: 700;
    text-align: right;
}

.clockW {
    background-image: url(http://2.bp.blogspot.com/-tF256YYAVQw/UKIwNBWJOYI/AAAAAAAAAlE/rkZUMoSKksI/s1600/zegar.jpg);
    background-size: cover;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid black;
    margin: 30px auto; /*margines od góry i od dołu*/
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.25);
   /* background-color: rgba(0,0,0,0.04);*/
    position: relative; /*pozycja relatywna, może się zmieniać- wskazówki będą się kręcić względem tarczy.*/
}

.clockN {
    background-image: url(http://2.bp.blogspot.com/-tF256YYAVQw/UKIwNBWJOYI/AAAAAAAAAlE/rkZUMoSKksI/s1600/zegar.jpg);
    background-size: cover;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid black;
    margin: 30px auto; /*margines od góry i od dołu*/
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.25);
   /* background-color: rgba(0,0,0,0.04);*/
    position: relative; /*pozycja relatywna, może się zmieniać- wskazówki będą się kręcić względem tarczy.*/
}

.clockL {
    background-image: url(http://2.bp.blogspot.com/-tF256YYAVQw/UKIwNBWJOYI/AAAAAAAAAlE/rkZUMoSKksI/s1600/zegar.jpg);
    background-size: cover;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid black;
    margin: 30px auto; /*margines od góry i od dołu*/
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.25);
   /* background-color: rgba(0,0,0,0.04);*/
    position: relative; /*pozycja relatywna, może się zmieniać- wskazówki będą się kręcić względem tarczy.*/
}

.clockB {
    background-image: url(http://2.bp.blogspot.com/-tF256YYAVQw/UKIwNBWJOYI/AAAAAAAAAlE/rkZUMoSKksI/s1600/zegar.jpg);
    background-size: cover;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid black;
    margin: 30px auto; /*margines od góry i od dołu*/
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.25);
   /* background-color: rgba(0,0,0,0.04);*/
    position: relative; /*pozycja relatywna, może się zmieniać- wskazówki będą się kręcić względem tarczy.*/
}

.clockS {
    background-image: url(http://2.bp.blogspot.com/-tF256YYAVQw/UKIwNBWJOYI/AAAAAAAAAlE/rkZUMoSKksI/s1600/zegar.jpg);
    background-size: cover;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid black;
    margin: 30px auto; /*margines od góry i od dołu*/
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.25);
   /* background-color: rgba(0,0,0,0.04);*/
    position: relative; /*pozycja relatywna, może się zmieniać- wskazówki będą się kręcić względem tarczy.*/
}

.hand {
    top: 3px;
    right: 50%;/* środek tarczy - przodka*/
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    position: absolute;/* pozycjonowanie wskazówek względem elementów przodka*/
    transform-origin: bottom center; /*punkt obrotu na środek dolnej krawedzi wskazówki*/
}
.hand.minutes, 
.hand.seconds {
    height: calc(50% - 3px); /*wysokość wskazówki*/
    background-color: black;

}

.hand.seconds {
    width: 1px;
}

.hand.minutes {
    width: 3px;

}

.hand.hours{
    top: 20%;
    width: 4px;
    height: 30%; /*wysokość wskazówki*/
    background-color: red;
}
